{% extends 'shared/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container mt-3">
        <h2 class="text-center bg-primary p-3">Dictionary App Django</h2>
    </div>
    <div class="container col-md-6 mt-5 col-sm-10">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="" aria-describedby="emailHelp"
                       placeholder="Write the word to find the definition" name="word">
            </div>
            <button type="submit" class="btn btn-success">Search <i style="font-size:24px" class="fa">&#xf002;</i>
            </button>
        </form>
    </div>
    <div class="container border shadow p-2 mt-4 col-md-5 col-sm-6 mb-4">
        <i class="text-danger">Word</i>
        <hr>
        <p class="text-justify p-1">
            a unit of language, consisting of one or more spoken sounds or their written representation, that functions
            as a
            principal carrier of meaning. Words are composed of one or more morphemes and are either the smallest units
            susceptible
            of independent use or consist of two or three such units combined under certain linking conditions, as with
            the loss of
            primary accent that distinguishes the one-word blackbird (primary stress on “black”, and secondary stress on
            “bird”)
            from black bird (primary stress on both words). Words are usually separated by spaces in writing, and are
            distinguished
            phonologically, as by accent, in many languages.
        </p>
    </div>
    <div class="container mt-3 mb-3 bg-primary p-4"></div>
{% endblock %}