{% extends 'shared/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container mt-3">
        <h2 class="text-center bg-primary p-3">Dictionary App Django</h2>
    </div>
    <div class="container col-md-6 mt-5 col-sm-10">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Write the word to find the definition" name="word"
                       required id="word-input">
            </div>
            <button type="submit" class="btn btn-success">Search <i style="font-size:24px" class="fa">&#xf002;</i>
            </button>
        </form>
    </div>
    <div class="container border shadow p-2 mt-4 col-md-5 col-sm-6 mb-4" id="word-box">

    </div>
    <div class="container mt-3 mb-3 bg-primary p-4"></div>
    <!-- JS --->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $('button').click(function (e) {
            e.preventDefault();
            var content = $('#word-input').val();
            var url = 'definition/' + content + '/'
            $.ajax({
                url: url,
                data: {'word': $('#word-input').val()},
                type: 'POST',
                success: function (response) {
                    $("#word-box").empty();
                    $("form").trigger('reset'); //reset the form
                    temp = '<i class=\"text-danger\">' + response.word + '</i><hr><p class=\"text-justify p-1\">' + response.definition + '</p>'
                    $("#word-box").append(temp);
                },
                error: function (response) {
                }
            });
        })
    </script>
{% endblock %}